<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.dao.StudentDao">
    <select id="getLoginStudent" resultType="Student" parameterType="Student">
        SELECT * FROM student WHERE stuName=#{stuName} and stuPassword = #{stuPassword}
    </select>
    <update id="updateStudentPsw" parameterType="Student">
        UPDATE student SET stuPassword=#{stuPassword} WHERE stuId = #{stuId}
    </update>
    <update id="updateStudent" parameterType="Student">
        UPDATE student SET stuEmail = #{stuEmail},stuTel=#{stuTel},stuAddress=#{stuAddress},stuSex=#{stuSex},stuIdcard=#{stuIdcard} WHERE stuId = #{stuId}
    </update>
    <insert id="addStudent" parameterType="Student" useGeneratedKeys="true">
        INSERT INTO student  (stuName,stuNo,stuDepart)
        VALUES (#{stuName},#{stuNo},#{stuDepart})
    </insert>
    <delete id="deleteStudent" parameterType="Student">
        DELETE student where stuId=#{stuId}
    </delete>
    <select id="checkStudentNameUnique" parameterType="java.lang.String" resultType="Student">
        SELECT * FROM student WHERE stuName=#{stuName}
    </select>
    <select id="getStudentByCondition" parameterType="Student" resultType="Student">
        SELECT * FROM student WHERE 1=1
        <!--<if test='stuDepart!="" and stuDepart!=null'>
             and stuDepart=#{stuDepart}
        </if>
        <if test='stuName!="" and stuName!=null'>
            and stuName=#{stuName}
        </if>
        <if test='stuAddress!="" and stuAddress!=null'>
            and stuAddress=#{stuAddress}
        </if>
        <if test='stuSex!=10'>
            and stuSex=#{stuSex}
        </if>-->
    </select>
    <select id="checkSno" parameterType="java.lang.String" resultType="Student">
        SELECT * FROM student WHERE stuNo=#{stuNo}
    </select>
</mapper>