<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<jmxConfigurator />
	<property name="app" value="hs" />

	<!-- 输出到控制台 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>utf8</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- 输出到日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/var/log/hs/${app}.%d{yyyyMMdd}.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
	</appender>
	
	<!-- 输出到Logstash -->
	<!--<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app":"${app}"}</customFields>
		</encoder>
		<destination>127.0.0.1:4560</destination>
		<writeBufferSize>1024</writeBufferSize>
		<ringBufferSize>1024</ringBufferSize>
	</appender>-->
	
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="FILE" />
	</appender>
	
	<!-- 全局日志 -->
	<root level="INFO">
		<!--<springProfile name="production">
			<appender-ref ref="LOGSTASH" />
			<appender-ref ref="ASYNC" />
		</springProfile>-->
		<springProfile name="!production">
			<appender-ref ref="CONSOLE" />
		</springProfile>
		<springProfile name="!production">
			<appender-ref ref="FILE" />
		</springProfile>
	</root>
	
	<!-- 应用程序日志 -->
	<logger name="com.hs" level="ERROR">
  	</logger>
  	
</configuration>